@font-face {
    font-family: odin;
    src: url(./fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#background {
    height: 100vh;
    width: auto;
    /* border: 2px solid red; */

    background-image: url("./images/ganapathy-kumar-unsplash.jpg");
    background-size: cover; /* scales and crops image to fit the container */

    display: flex;
}

.container-left {
    width: 150vh;
    /* border: 2px solid red; */
    flex-grow: 0;
}

.container-right {
    background-color: rgba(231, 231, 231, 0.825);
    /* border: 2px solid green; */
    flex-grow: 0;
}

.banner {
    font-family: odin;
    font-size: 5em;
    color: white;
    /* border: 1px solid yellow; */
    padding: 0.2em 0;
    background-color: rgba(10, 11, 29, 0.511);

    position: relative;
    top: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 14vh;
    width: auto;
}

.top, .bottom {
    height: 35vh;
    /* border: 1px solid yellow; */
}

.top {
    font-size: 1.2em;
    font-weight: 700;

    padding-left: 2em;
    padding-right: 16em;
    padding-bottom: 2em;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;
}

form {
    height: 30vh;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;  
    
    /* border: 1px solid brown; */
    background-color: rgba(255, 255, 255, 0.868);
    box-shadow: 6px 6px 5px 1px rgba(0, 0, 255, .2);

    display:flex;
    flex-direction: column;
    justify-content: center;
}


.form-row {
    display: flex;
    gap: 4em;

    margin-top: 1em;
    margin-bottom: 1em;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 0.1em; 
}

input {
    font-size: 1em;
    height: 1.8em;
    width: 14em;
    border-radius: 0.2em;
    border: 1px solid rgb(189, 188, 188);
    padding: 0.2em 0.4em;
}

input:focus {
    outline-color: #301af5ae;
    outline-style: solid;
    outline-width: 2px;
    box-shadow: 3px 3px 5px 1px rgba(98, 98, 145, 0.776);

}

input#pwd:invalid, input#confirm-pwd:invalid {
    border-color: red;
} 

input#pwd:valid, input#confirm-pwd:valid {
    border-color: 1px solid rgb(189, 188, 188);
}


label {
    font-size:0.8em;
    color: rgb(86, 86, 86)
}

.bottom {
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 2.5em;     
}

button {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 1em;
    padding: 0.5em 2.5em;
    background-color: rgba(55, 24, 229, 0.863);
    color: white;
    border: 0px solid;
    border-radius: 0.3em;
}

button:hover {
    background-color: rgba(55, 24, 229, 0.578);
    cursor: pointer;
    border: 1px solid whitesmoke;
    box-shadow: 3px 3px 5px 1px rgba(98, 98, 145, 0.776);
}

.bottom p {
    font-size: 1em;
}

a {
    color: rgba(55, 24, 229, 0.863);
    text-decoration: none;
    font-weight: bold;
}

